body {
  background-color: #fff5ee;
}

.grid-box {
  border-bottom: 5px solid black;
  height: 660px;
  margin-top: 1vh;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.grid-box div {
  margin-top: auto;
}

.btn {
  margin-top: 10px;
  margin-bottom: 0;
  height: 50px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.alert {
  margin-top: 10px;
}

.range-input {
  display: flex;
  flex-direction: column;
}

.custom-range {
  width: 250px;
}
